body {
    font-family: sans-serif;
    background-color: black;
}

header {
    justify-content: space-between;
    padding: 20px;
    display: flex;
    margin-bottom: 20px;
    align-items: center;
}

.button {
    background-color: #876DE7;
    color: black;
    text-decoration: none;
    padding: 15px;
    font-size: 24px;
    border-radius: 10px;
}

nav {
    border-top: 5px solid white;
    border-bottom: 5px solid white;
    padding: 25px 100px 25px 95px;
    display: flex;
    justify-content: space-between;
}

.nav-link {
    font-size: 24px;
    color: white;
    text-decoration: none;
    display: block;
}

h1 {
    text-align: center;
    font-size: 36px;
    color: white;
    margin-top: 15px;
    margin-bottom: 15px;
}

p {
    font-size: 24px;
}

.info {
    flex-wrap: wrap;
    width: 1100px;
    margin: 0px auto 0px auto;
    display: flex;
    max-width: 1100px;
}

article {
    background-color: white;
    padding: 45px;
    width: 400px;
    margin: 20px;
    text-align: center;
}

.article-but {
    text-decoration: none;
    background-color: #3914AF;
    color: white;
    font-size: 24px;
    text-align: center;
    padding: 10px 75px 10px 75px;
}


footer {
    background-color: #3914AF;
    padding: 60px;
    display: flex;
}

footer a {
    margin-right: 30px;
}

footer p {
    font-size: 24px;
}
